// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concert {
  border-bottom: solid 1px #CCC;
  padding: 10px;
}

.concert_content p {
  margin: 4px 0;
}

.concert_content .admin {
  display:none;
}

.concert_content:hover .admin {
  display:inline;
}

#following {
	display: block;
}